<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AisInternalSystem.Properties.Settings.aisdbConnectionString2"
      connectionString="persistsecurityinfo=True;server=localhost;user id=hermes;password=fR9iMEnRxcaHjB;port=4409;database=aisdb"
      providerName="MySql.Data.MySqlClient" />
    <add name="aisdbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;persistsecurityinfo=True;server=localhost;user id=hermes;password=fR9iMEnRxcaHjB;port=4409;database=aisdb;allowuservariables=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AISEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;persistsecurityinfo=True;server=localhost;user id=hermes;password=fR9iMEnRxcaHjB;port=4409;database=aisdb;allowuservariables=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="aisdbEntities1" connectionString="metadata=res://*/ModelAis.csdl|res://*/ModelAis.ssdl|res://*/ModelAis.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;persistsecurityinfo=True;server=localhost;user id=hermes;password=fR9iMEnRxcaHjB;port=4409;database=aisdb;allowuservariables=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="aisdbEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;port=4409;server=localhost;user id=hermes;password=fR9iMEnRxcaHjB;database=aisdb&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AisInternalSystem.Properties.Settings.aisdbConnectionString"
      connectionString="persistsecurityinfo=True;server=localhost;user id=hermes;password=fR9iMEnRxcaHjB;port=4409;database=aisdb;allowuservariables=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>